# Kong Data Plane - Konnect Configuration
# POC: Nginx + Kong IP Preservation + Observability

image:
  repository: kong/kong-gateway
  tag: "3.13"

secretVolumes:
- kong-cluster-cert

admin:
  enabled: true
  http:
    enabled: true
    servicePort: 8001
    containerPort: 8001
  tls:
    enabled: true
    servicePort: 8444
    containerPort: 8444

# Status API for Prometheus metrics
status:
  enabled: true
  http:
    enabled: true
    containerPort: 8100
  tls:
    enabled: false

env:
  role: data_plane
  database: "off"
  konnect_mode: "on"
  vitals: "off"
  cluster_mtls: pki

  cluster_control_plane: "61bd919bfc.eu.cp.konghq.com"
  cluster_telemetry_endpoint: "61bd919bfc.eu.tp.konghq.com:443"
  cluster_telemetry_server_name: "61bd919bfc.eu.tp.konghq.com"
  cluster_cert: /etc/secrets/kong-cluster-cert/tls.crt
  cluster_cert_key: /etc/secrets/kong-cluster-cert/tls.key

  lua_ssl_trusted_certificate: system
  proxy_access_log: "off"
  dns_stale_ttl: "3600"
  
  # Previous customizations kept for context but ensuring user values take precedence
  nginx_worker_processes: "1"
  upstream_keepalive_max_requests: "100000"
  nginx_http_keepalive_requests: "100000"
  nginx_http_client_body_buffer_size: "10m"
  nginx_http_client_max_body_size: "10m"
  router_flavor: expressions
  # IP Preservation Settings - ENABLED
  trusted_ips: "0.0.0.0/0,::/0"
  real_ip_header: "X-Forwarded-For"
  real_ip_recursive: "on"
  # OpenTelemetry Tracing
  tracing_instrumentations: all
  tracing_sampling_rate: "1.0"
  # Sandbox configuration - Allow gzip module for observability plugins
  untrusted_lua_sandbox_requires: "kong.tools.gzip"

ingressController:
  enabled: false
  installCRDs: false

resources:
  requests:
    cpu: 1
    memory: "2Gi"

manager:
  enabled: false
