apiVersion: v1
kind: Service
metadata:
  name: kong-dp-kong-status
  namespace: kong
  labels:
    app: kong
spec:
  selector:
    app.kubernetes.io/instance: kong-dp
    app.kubernetes.io/name: kong
  ports:
  - name: status
    port: 8100
    targetPort: 8100
    protocol: TCP
